[submodule "Carthage/Checkouts/ObjectMapper"]
	path = Carthage/Checkouts/ObjectMapper
	url = https://github.com/tristanhimmelman/ObjectMapper.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
